# Situación problema: Human Happiness Indicators

## Librerías

In [1]:
pip install seaborn

Requirement already satisfied: seaborn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (3.2.1)
Requirement already satisfied: scipy>=1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.4.1)
Requirement already satisfied: pandas>=0.23 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.0.4)
Requirement already satisfied: numpy>=1.15 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from seaborn) (1.18.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from matplotlib>=2.2->seaborn) (0.10.0)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.23->seaborn) (2020.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install sklearn

Requirement already satisfied: sklearn in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.0)
Requirement already satisfied: scikit-learn in /srv/conda/envs/notebook/lib/python3.7/site-packages (from sklearn) (1.0.1)
Requirement already satisfied: joblib>=0.11 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (3.0.0)
Requirement already satisfied: scipy>=1.1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: numpy>=1.14.6 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.18.5)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install statsmodels

Requirement already satisfied: statsmodels in /srv/conda/envs/notebook/lib/python3.7/site-packages (0.13.1)
Requirement already satisfied: scipy>=1.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.4.1)
Requirement already satisfied: pandas>=0.25 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.0.4)
Requirement already satisfied: numpy>=1.17 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (1.18.5)
Requirement already satisfied: patsy>=0.5.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from statsmodels) (0.5.2)
Requirement already satisfied: pytz>=2017.2 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2020.1)
Requirement already satisfied: python-dateutil>=2.6.1 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas>=0.25->statsmodels) (2.8.1)
Requirement already satisfied: six in /srv/conda/envs/notebook/lib/python3.7/site-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import numpy as np
from sklearn import linear_model
import pandas as pd

In [5]:
%ls

 00_00_binder.ipynb                     dataa.csv
 00_00_primer_pasos.ipynb               data.csv
 01_01_data_types.ipynb                 headbrain.csv
 01_02_read_iloc_unique_groupby.ipynb   Kag_happiness_indicators.csv
 02_00_data_wrangling.ipynb             mic2.xlsx
 02_01_null_display.ipynb               mic.xlsx
 02_02_basic_math.ipynb                 movies.csv
 A3.ipynb                               nhanes_2015_2016.csv
'A5 (1).ipynb'                          pokemon.csv
 A6.ipynb                               README.md
'A6 LucianaMontalvo.ipynb'              reg_data.csv
 act9.ipynb                             requirements.txt
'Actividad 6.ipynb'                     s10.ipynb
 adult.csv                              S3.ipynb
 airline_data.csv                       s4
 antropometria00.csv                    s4.ipynb
 antropometria-dataset-1.csv            S5.ipynb
 antropometria-dataset-2.csv            s7.ipynb
 antropometria-dataset.csv              s8.1.ipynb
 Book3.csv                              s8.ipynb
 Canada.xlsx                            s9.ipynb
 Cartwheeldata.csv                      sample_pivot.csv
 census.csv                             tips.csv
 coches.csv                             weight-height.csv
 cwurData.csv

In [6]:
df=pd.read_csv('Kag_happiness_indicators.csv')

In [7]:
df.columns

Index(['Unnamed: 0', 'year', 'workstat', 'prestige', 'divorce', 'widowed',
       'educ', 'reg16', 'babies', 'preteen', 'teens', 'income', 'region',
       'attend', 'happy', 'owngun', 'tvhours', 'vhappy', 'mothfath16', 'black',
       'gwbush04', 'female', 'blackfemale', 'gwbush00', 'occattend',
       'regattend', 'y94', 'y96', 'y98', 'y00', 'y02', 'y04', 'y06', 'unem10'],
      dtype='object')

In [10]:
all(isinstance(column,str)for column in df.columns)

True

In [8]:
df.set_index('year', inplace = True)
df.drop(['Unnamed: 0','region','attend','mothfath16','gwbush04','blackfemale','gwbush00','occattend','regattend', 'y94', 'y96', 'y98', 'y00', 'y02', 'y04', 'y06'], axis=1, inplace=True)
df.head()

,workstat,prestige,divorce,widowed,educ,reg16,babies,preteen,teens,income,happy,owngun,tvhours,vhappy,black,female,unem10
year,,,,,,,,,,,,,,,,,
1994,keeping house,46.0,NaN,iap,12.0,middle atlantic,2.0,3.0,0.0,$10000 - 14999,pretty happy,NaN,2.0,0,1,1,1.0
1994,working fulltime,22.0,no,iap,12.0,foreign,0.0,0.0,0.0,NaN,very happy,NaN,3.0,1,1,0,0.0
1994,working fulltime,29.0,no,iap,12.0,foreign,0.0,0.0,0.0,$15000 - 19999,pretty happy,iap,1.0,0,1,1,NaN
1994,working fulltime,42.0,yes,iap,8.0,foreign,0.0,0.0,0.0,$15000 - 19999,not too happy,NaN,3.0,0,0,0,1.0
1994,working parttime,36.0,NaN,NaN,13.0,middle atlantic,0.0,1.0,1.0,$10000 - 14999,not too happy,iap,NaN,0,1,1,0.0

# Luciana Montalvo Barragán
A01720572

## Introducción

Esta base de datos se obtuvo de Kaggle para medir la felicidad de las personas por medio de algunos inicadores.


Liga para la base de Datos: https://www.kaggle.com/loveall/human-happiness-indicators

## Base de Datos

In [11]:
df

,workstat,prestige,divorce,widowed,educ,reg16,babies,preteen,teens,income,happy,owngun,tvhours,vhappy,black,female,unem10
year,,,,,,,,,,,,,,,,,
1994,keeping house,46.0,NaN,iap,12.0,middle atlantic,2.0,3.0,0.0,$10000 - 14999,pretty happy,NaN,2.0,0,1,1,1.0
1994,working fulltime,22.0,no,iap,12.0,foreign,0.0,0.0,0.0,NaN,very happy,NaN,3.0,1,1,0,0.0
1994,working fulltime,29.0,no,iap,12.0,foreign,0.0,0.0,0.0,$15000 - 19999,pretty happy,iap,1.0,0,1,1,NaN
1994,working fulltime,42.0,yes,iap,8.0,foreign,0.0,0.0,0.0,$15000 - 19999,not too happy,NaN,3.0,0,0,0,1.0
1994,working parttime,36.0,NaN,NaN,13.0,middle atlantic,0.0,1.0,1.0,$10000 - 14999,not too happy,iap,NaN,0,1,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006,keeping house,29.0,NaN,NaN,9.0,mountain,0.0,0.0,0.0,$3000 to 3999,pretty happy,iap,1.0,0,0,1,NaN
2006,temp not working,51.0,NaN,iap,16.0,e. nor. central,0.0,1.0,1.0,$25000 or more,pretty happy,NaN,1.0,0,0,0,0.0
2006,retired,NaN,yes,NaN,8.0,mountain,0.0,0.0,0.0,$6000 to 6999,pretty happy,NaN,4.0,0,0,1,0.0
2006,keeping house,20.0,no,iap,6.0,foreign,1.0,2.0,1.0,$6000 to 6999,not too happy,NaN,8.0,0,0,1,1.0
2006,"unempl, laid off",30.0,NaN,iap,12.0,pacific,0.0,0.0,0.0,$6000 to 6999,not too happy,NaN,6.0,0,0,0,1.0

Variables:

-